<div class="container">
  <div class="page-header">
    <h1>Edit Shift</h1>
    <h5><span class="label label-danger">Update the information of a shift </span></h5>
  </div>
</div>
<div class="container">
  <%= render 'form' %>
  <%= link_to 'Back', root_path, class: 'label label-primary' %>
</div>